<h1>Welcome to the Project Volunteer Tracker app</h1>

<div class="container">
  <button><a href="/projects">View All Projects</a></button>
  <button><a href="/projects/new">Add New Project</a></button>
</div>
