<h3>Create a new project:</h3>

<form action="/projects" method="post">
  <label for="title">Project Title:</label>
  <input id="title" name="title" type="text">

  <button type="submit">Add Project</button>
</form>


<button><a href="/" >Back</a></button>
